//Variables

$primary-color: #ffffff;

$font-style: 'Raleway', sans-serif;

//Header

.header {
    
    position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
    // background-color: #66b3ff;
   

}

//Navbar



.navbar {
    
    color: $primary-color;
    // @include respond(phone) {
    //     display: none;
    // }
  

    &__logo {
    
        padding: 1.5rem;
        font-weight: 400;
        color: $primary-color;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;

        @include respond(phone) {
            flex-direction: column;
        }
    
    }

    &__item {

        padding: 1.5rem;
       
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 2.5rem;
        font-family: $font-style;
        
        &:hover {
            opacity: 0.7;
        }
        
    }

    
}

//Cards

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 5rem;

   @include respond(phone) {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 2.5rem 3.5rem;
   }


   &__card {
       flex: 0 1 calc(23% - 1em);
       
       background-color: #ffffff;
       margin-bottom: 2.5rem;
       border: solid 1px rgba(144, 144, 144, .25);
      
    
       
       @include respond(tab-land) {
        flex: 0 1 calc(25% - 1em);
        
    }

       @include respond(tab-port) {
           flex: 0 1 calc(50% - 1em);
           
       }
       @include respond(phone) {
        flex: 0 1 100%;

       }

       
   }
}

.card-content {
    padding: 1.4rem;
    background-color: #ffffff;

    &--primary {
        margin-top: 0;
        margin-bottom: .8rem;
        font-weight: 700;
        font-size: 2rem;
        color: #615e5e;
    }

    &--secondary {
        font-size: 1.7rem;
        margin-bottom: 1em;
        color: #898989;
    }
}