//Variables

$primary-color: #ffffff;

$font-style: 'Raleway', sans-serif;

//Header

.header {
    
    position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    // align-items: flex-start;
    // background-color: #66b3ff;

    &--blue{
        background-color: #66b3ff;
    }

    @include respond(phone) {
        flex-direction: column;
    }

    &__hamburger--toggle {
        display: none;

        @include respond(phone) {
            position: absolute;
            align-self: flex-end;
            display: initial;
        }
    }

    &__hamburger {
        background-color: $primary-color;
        width: 3.5rem;
        height: 2px;

        &::before, &::after {
            background-color: $primary-color;
            width: 3.5rem;
            height: 2px;
        }

        
    }

}

//Navbar



.navbar {
    color: $primary-color;
    // @include respond(phone) {
    //     width: 100%;
        
  

    &__logo {
    
        padding: 1.5rem;
        font-weight: 400;
        color: $primary-color;

        // @include respond(phone) {
        //    display:none;
        // }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        @include respond(phone) {
            flex-direction: column;
            display: none;
            // align-items: center;
        }
        

        // @include respond(phone) {
        //     flex-direction: column;
        //     background-color: #66b3ff;
        //     align-items: center;
        // }
    
    }

    &__item {

        padding: 1.5rem;
       
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 2.5rem;
        font-family: $font-style;
        
        &:hover {
            opacity: 0.7;
        }
        
    }

    
}

.Navbar__ToggleShow {
    display: flex;
    align-self: flex-end;
  }

//Cards

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    // animation: moveInBottom 0.5s ease-out .50s;

   @include respond(phone) {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 2.5rem 3.5rem;
   }

   &--animated {
    animation: moveInLeft 1s ease-out .1s;
   }


   &__card {
       flex: 0 1 calc(23% - 1em);
       
       background-color: #ffffff;
       margin-bottom: 2.5rem;
       border: solid 1px rgba(144, 144, 144, .25);
      
    
       
       @include respond(tab-land) {
        flex: 0 1 calc(25% - 1em);
        
    }

       @include respond(tab-port) {
           flex: 0 1 calc(50% - 1em);
           
       }
       @include respond(phone) {
        flex: 0 1 100%;

       }

       
   }
}

.card-content {
    padding: 1.4rem;
    background-color: #ffffff;

    &--primary {
        margin-top: 0;
        margin-bottom: .8rem;
        font-weight: 700;
        font-size: 2rem;
        color: #615e5e;
    }

    &--secondary {
        font-size: 1.7rem;
        margin-bottom: 1em;
        color: #898989;
    }
}